# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Build
build/
dist/
*.spec

# Runtime/user data
settings.json
library/*
!library/.gitkeep

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Release output
release/
